body, html {
    height: 100%;
    margin:0;
    font-family: 'Itim', cursive;
}

body{
    background-image:url("./assests/bk2.jpg");
  
    /* Set a specific height */
    height: 100%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 100vh;
}